<table>
  <thead>
    <tr>
      <th>{{ block.settings.header_column_1 }}</th>
      <th>{{ block.settings.header_column_2 }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ block.settings.input1_column1 }}</td>
      <td>{{ block.settings.input1_column2 }}</td>
    </tr>
    <tr>
      <td>{{ block.settings.input2_column1 }}</td>
      <td>{{ block.settings.input2_column2 }}</td>
    </tr>
    <tr>
      <td>{{ block.settings.input3_column1 }}</td>
      <td>{{ block.settings.input3_column2 }}</td>
    </tr>
  </tbody>
</table>
