{{ 'mini-cart.css' | asset_url | stylesheet_tag }}

<div class="main-container--mini-cart closed--mini-cart" id="mini-cart" data-mc-main-container="{{ section.id }}">
  <div class="flex-container--mini-cart">
    <section class="header--mini-cart">
      {{ 'sections.cart.title' | t }}
      <button data-mc-close-btn class="btn-close--mini-cart btn--mini-cart">x</button>
    </section>
    <div class="event-delegate-container--mini-cart" data-mc-event>
      <div class="content-to-update--mini-cart" data-mc-updates>
        {% if cart == empty %}
          <section class="empty-cart-section--mini-cart">
            <div class="empty-cart--mini-cart">Your cart is empty</div>
            {%- if shop.customer_accounts_enabled and customer == null -%}
              <h2>{{ 'sections.cart.login.title' | t }}</h2>
              <p>
                {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
              </p>
            </section>
          {%- endif -%}
        {% else %}
          <h2>Items</h2>
          <section class="items--mini-cart"><section id="items--mini-cart" class="items--mini-cart" data-mc-items-container="0">
            <form action="{{ routes.cart_url }}" method="post">
              {% for line_item in cart.items %}
                <div class="line-item--mini-cart" data-mc-key="{{ line_item.key }}">
                  <a
                    href="{{ line_item.url }}"
                    class="product-title-link--mini-cart"
                    data-mc-line-item-key="{{ line_item.key }}">{{ line_item.product.title | escape }}</a>
                  <div class='image-and-variants--mini-cart'>
                    {% if line_item.image %}
                      <img
                        src="{{ line_item.image | image_url: width: 300 }}"
                        alt="{{ line_item.image.alt | escape }}"
                        loading="lazy"
                        width="150">
                    {% endif %}
                    <div class="line-item-details--mini-cart">
                      {% if line_item.product.has_only_default_variant == false %}
                        <div>
                          {% for option in line_item.options_with_values %}
                            <div class="product-options--mini-cart">
                              <p class="product-option-name--mini-cart">{{ option.name }}:</p>
                              <p class="product-option-value--mini-cart">{{ option.value }}</p>
                            </div>
                          {% endfor %}
                        </div>
                      {% endif %}
                      <div class="line-item-price--mini-cart" data-mc-line-price>
                        {% if line_item.original_price > line_item.final_price %}
                          <s>{{ line_item.original_price | money_without_trailing_zeros }}</s>
                        {% endif %}
    
                        {{ line_item.final_price | money_without_trailing_zeros }}
    
                        {% if line_item.line_level_discount_allocations.size > 0 %}
                          <div>
                            <span>Discounts:</span>
                            <ul class="discounts-list--mini-cart">
                              {% for discount_allocation in line_item.line_level_discount_allocations %}
                                <li>
                                  {{ discount_allocation.discount_application.title }}
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="line-price-and-quantity--mini-cart">
                    <div class="quantity-controls--mini-cart">
                      <div class="quantity-controls-main--mini-cart">
                        <button class="btn-quantity--mini-cart btn-increase--mini-cart btn--mini-cart" data-mc-quantity-btn="plus" type="button">+</button>
                        <input
                          type="number"
                          name="updates[]"
                          value="{{ line_item.quantity }}"
                          class="item-quantity-input--mini-cart"
                          step="1"
                          min="1"
                          max="{{ line_item.variant.inventory_quantity }}"
                          data-mc-item-quantity>
                        <button class="btn-quantity--mini-cart btn-decrease--mini-cart btn--mini-cart" data-mc-quantity-btn="minus" type="button">-</button>
                      </div>
                      <div class="remove-link-container--mini-cart">
                        <a href="#" data-mc-remove-link class="remove-link--mini-cart">{% render 'icon-remove' %}</a>
                      </div>
                    </div>
                    <div class="line-item-total--mini-cart">
                      <p>Total:</p>
                      {% if line_item.original_line_price != line_item.final_line_price %}
                        <s class="line-item-original-total--mini-cart">
                          {{ line_item.original_line_price | money }}
                        </s>
                      {% endif %}
                      <p>{{ line_item.final_line_price | money }}</p>
                    </div>
                    {% unless line_item == cart.items.last %}
                      <hr class="end-of-item--mini-cart">
                    {% endunless %}
                  </div>
                </div>
              {% endfor %}
              <div class="checkout-btns--mini-cart" data-mc-checkout-btns>
                <input 
                  type="submit"
                  class="btn--mini-cart btn-large--mini-cart"
                  name="cart"
                  value="Go to Cart">
                <input
                  type="submit"
                  name="checkout"
                  value="Checkout"
                  class="btn--mini-cart btn-large--mini-cart">
              </div>
            </form>
          </section>
          <section class="footer--mini-cart">
            <div class="totals--mini-cart">
              <h2 class="totals__subtotal--mini-cart">{{ 'sections.cart.subtotal' | t }}</h2>
              <p class="totals__subtotal-value--mini-cart">{{ cart.total_price | money_with_currency }}</p>
            </div>
          </section>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script src="{{ 'mini-cart.js' | asset_url }}" defer="defer" type="module"></script>

{% schema %}
  {
    "name": "mini-cart",
    "presets": [
      {
        "name": "mini-cart"
      }
    ]
  }
{% endschema %}
